/* //#heading or */
.heading-class{
    color: blue;
    background-color: rgb(246, 246, 137);
}
body{
    background-color: grey;
}
button{
    background-color: black;
    color: white;
}
p{
    font-weight: bold;
    color: rgb(0, 2, 18);
    background-color: honeydew;
}
.box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: rgb(118, 247, 247);
}